main {
  display: flex;
  margin-top: 30px;
}

.column-selected {
  border-right: 2px solid black;
  border-left: 2px solid black;
  box-shadow: inset 0px 4px 0px -2px black;
}


.fastest-lap {
  background-color: magenta;
  padding: 2px;
}


.overflow {
  overflow: hidden;
}