.columns-wrapper {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.column p {
  margin: 0;
}

.driver-name {
  font-weight: bold;
  text-align: center;
}

.settings-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.settings-input {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.settings-input label {
  margin-right: 15px;
}
